.blogContainer{
    max-width:1200px;
    margin:auto;
}

.blogContainer .list{      
    float: left;  
    width: 860px;
    margin-top:30px;
}


@media screen and (max-width: 960px) {
    .blogContainer .list{      
        width: 100%;
      
    }
}
