.sidePanel .titleTop {
    font-size: 1.6em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 234, 228);
    text-align: center;
}

.sidePanel {
    margin-top: 20px;
    float: right
}

@media screen and (max-width: 960px) {
    .sidePanel {
        display: none;
    }
}