.homeContiner{
    max-width:1200px;
    margin:auto;
}
.homeContiner .list{      
    float: left;
    margin-top: 30px
  
}

@media screen and (max-width: 960px){
    .showcaseContainer{
    display: none;
  }
}
 