.videoContainer{
    max-width:1200px;
    margin:auto;
}

.videoContainer .list{      
    float: left; 
    width: 860px;
    margin-top:30px;
}


@media screen and (max-width: 960px) {
    .videoContainer .list{      
        width: 100%
    }
}
